@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");


header {
  height: 200px;
	width: 100%;
	background-color: #246ee5;
	outline: 0;
	margin: 0 auto;
	padding: 0;
        box-shadow: 5px 5px 5px #000000;
	font-color: #ffffff;
}

body {
	font-family: "Droid Serif", sans-serif;
	font-size: 12pt;
	background-image: url("images/Ocean.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

a, strong, em {
	color: #0099ff;
}

p.info,
#login p {
	width: 80%;
	margin: lvw auto;
}

input[type="number"] {
	width: 1.7em;
	height: 1.7em;
}

.flex-header-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-header-buttons {
  background-color: white;
  width: 100px;
  height: 30px;
  border-style: 2px solid;
  margin: 8px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: left;
  justify-content: left;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}
.flex-container-aside {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  justify-content: right;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.order-drink {
  order: 3;
  background-color: aliceblue;
  width: 100%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  border-style: outset;
	border-color: #000000;
	font-color: #ffffff;
  margin: 5px;
}

.order-tab {
  order: 1;
  background-color: beige;
  width: 20%;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  border-style: outset;
	border-color: #000000;
	font-color: #ffffff;
  margin: 5px;
}

.order-info {
  background-color: beige;
  position: fixed;
  height: 400px;
  width: 20%;
  -webkit-align-items: flex-start;
  align-items: center;
  border-style: outset;
  border-color: #000000;
  font-color: #ffffff;
  margin: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

li {
	display: inline-block;
	width: 300px;

}

li a {
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 2.5em;
	background: #222;
	color: #efefef;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

li a:hover {
	background: #444;
}

#secondary .widget-title {
	margin: 0;
	font-size: 22px;
	background: #eee;
	padding: 10px;
	cursor: pointer;
	width: 250px;
}
#secondary .widget .widget-content {
	display: none;
}
#secondary .widget.active .widget-title, #secondary .widget.active ul {
	background: #666;
	color: #fff;
}
