@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
	font-family: "Courier New, sans-serif, arial";
}
h1 {
	font-style: oblique;
	font-size: 400%;
	color: darkorange;
	text-align: center;
	margin-top: 10%;
}

img {
	position: relative;
	margin-left: 10%;
}

button {
	width: 200px;
	height: 50px;
	background-color: lightgray;
	border: none;
	font-size: medium;
	font-weight: bold;
	color: #666666;
	position: absolute;
	top: 50%;
	left: 40%;

}

input {
	width: 400px;
	height: 50px;
	background-color: transparent;
	border: none;
	font-size: medium;
	font-weight: bold;
	color: #222222;
	position: absolute;
	top: 50%;
	right: 10%;
}


/*grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
	font-family: "Droid Serif", sans-serif;
	/*font-size: 12pt;*/
	background-image: url("images/Ocean.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
