@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
	font-family: "Courier New, sans-serif, arial";
}
h1 {
	font-style: oblique;
	font-size: 400%;
	color: darkorange;
	text-align: center;
	margin-top: 10%;
}

img {
	position: relative;
	margin-left: 10%;
}

body {
	font-family: "Droid Serif", sans-serif;
	/*font-size: 12pt;*/
	background-image: url("images/Ocean.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

form {
	top: 50%;
	right: 40%;
	position: absolute;
}
input[type=button]{
	font-size: 16px;
	background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
	border: 1px solid #e5a900;
	color: #4E4D4B;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	outline:none;

}