<!DOCTYPE html>
<html lang="eng">
	<head>
		<title>Flying Dutchman</title>
		<meta charset="utf-8" />

		<link rel="stylesheet" type="text/css" href="document.css">

		<script src="js/translate.js">
			docLoaded(indexPageLoaded);
		</script>
	</head>
	<body>

		<header>
			<h1><a href="./" style="color: #000000; text-decoration: none; margin: 10px;">Flying Dutchman</a></h1>
      <div class="flex-header-container">
        <a href="./">
          <div class="flex-header-buttons">
            Home
          </div>
        </a>
        <a href="./order">
          <div class="flex-header-buttons">
            Order
          </div>
        </a>
        <div class="flex-header-buttons">
          About
        </div>
      </div>
		</header>

  </body>
  <footer>
  </footer>
</html>
