<body>
  <div class="flex-container">
    <div class="order-drink">
      <p style="margin-left: 10px;">
        <ul>
				<!-- <input type="checkbox" name="beer" value="falcon"></input> -->
				<li>Falcon<input type="number" name="fal" min="0" max="10" step="1" value="0"></li>
				<li>Brooklyn Lager<input type="number" name="bl" min="0" max="10" step="1" value="0"></li>
				<li>Heineken<input type="number" name="hein" min="0" max="10" step="1" value="0"></li>
				<li>Smålands<input type="number" name="sma" min="0" max="10" step="1" value="0"></li>

			</ul>
			<!--
			<p>
				<label for="Beer">Beer</label><br>
				<select id="Beer" name="beer">
					<option>Falcon</option>
					<option>Brooklyn Lager</option>
					<option>Heineken</option>
					<option>Smålands</option>
				</select>
			</p>
			-->

			<!-- type=checkbox for multiple -->
			<form action="">
				<input type="radio" name="tablenr" value="1" checked>Table 1</input>
				<input type="radio" name="tablenr" value="2">Table 2</input>
				<input type="radio" name="tablenr" value="2">Table 3</input>
				<input type="radio" name="tablenr" value="2">Table 4</input>
			</form>

			<button type="submit">Order</button>
      </p>
    </div>
    <div class="order-tab">
      This is the place for the bill
    </div>
  </div>
</body>

